.site {
    display: grid;
    gap: 10px;
    grid-template-columns: ($size__site-sidebar) auto;
    grid-template-areas: "header header" "barre main" "footer footer";
}

.site__header {
    grid-area: header;
    background-color: $color__background-header;
    margin-top: -30px;
}

.site__barre {
    grid-area: barre;
    background-color: $color__background-barre;
    // border: 3px solid #bdbdbd;
    // border-radius: 25px;
}

.site__barre nav {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.site__barre nav a,
.site__copyright nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
}

.site__main {
    grid-area: main;
    background-color: $color__background-main;
    display: flex;
    // background-color: #eee;
    // border: 3px solid #bdbdbd;
    flex-wrap: wrap;
    row-gap: 20px;
    // border-radius: 25px;
    min-height: 73vh;
}

.site__footer {
    grid-area: footer;
    background-color: $color__background-footer;
    // border: 3px solid #bdbdbd;
    // border-radius: 25px;
}

.home {
    // background-color: whitesmoke;
    background-color: $color__background-body;
}

.header__titre {
    color: #1976D2;
    margin-bottom: -10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-left: 5%;
    font-size: 2rem;
    font-style: oblique;
}

.header__description {
    display: inline-block;
    width: 95%;
}

.site__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site__info__adresse,
.site__info__liens,
.site__info__nouvelles,
.site__copyright {
    color: whitesmoke;
}

.site__info__liens {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.site__info section:first-child {
    margin-left: 2%;
}

.site__info section:last-child {
    margin-right: 2%;
}

.site__copyright {
    border-top: 3px double rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site__copyright nav,
.site__copyright h2 {
    margin: 0 auto;
}