.site {
    background-image: url("images/brick7.jpg");
    display: grid;
    overflow-x: hidden;
    background-color: $couleur_fond;
    background-attachment: fixed;
    grid-template-columns: auto;
    grid-template-areas: "header" "barre" "main" "footer";
    width: 100vw;
    @media screen and (min-width: 700px) {
        grid-template-columns: ($size__site-sidebar) auto;
        grid-template-areas: "header header" "barre main" "footer footer";
    }

    @media screen and (min-width: 1000px) {
    .listeCours {
        width: 70%;
    }
     }
    
    &__main {
        // overflow: hidden;
        grid-area: main;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        min-height: 80vh;
        margin: 15px;
    }
    &__barre {
        position: fixed;
        width: 30%;
        top: 14vh;
        grid-area: barre;
        background: transparent;
        @media screen and (min-width: 700px) {}
        z-index: 20;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        section {
            &:first-child {
                margin-left: 2%;
            }
            &:last-child {
                margin-right: 2%;
            }
        }
        &__liens {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}