.universite{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100%;
    .imgUniversite{
        width: 40%;

        img{
            width: 90%;
        }
    }
    .descUniversite{
        width: 45%;
    }
}
