$color__background-body: white;
$color__background-barre: #000834;
$color__background-header: #000834;
$color__background-footer: #161616;
$color__background-main: #000834;
//Palette
$couleur_fond: #000834;
$couleur_fond2: #B44DBB;
$couleur_texte1: white;
$couleur_texte2: #56CBFE;
// liens
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue