$color__background-body: white;
$color__background-barre: #000834;
$color__background-header: #000834;
$color__background-footer: #161616;
$color__background-main: #000834;
//Palette
$couleur_fond: hsl(231, 100%, 10%);
$couleur_fond2: hsl(271, 76%, 53%);
$couleur_fond2_transparent: hsla(271, 76%, 53%, 0.3);
$couleur_fond3: hsl(286, 62%, 37%);
$couleur_texte1: #F2F2F2;
$couleur_texte2: hsl(198, 99%, 67%);
$couleur_texte3: hsl(323, 100%, 82%);
// liens
$color__link: $couleur_texte3;
$color__link-visited: $couleur_fond2;
$color__link-hover: $couleur_texte3;