$font1:'Neonblitz', Verdana, Geneva, Tahoma, sans-serif;
$font2: 'Brevia', sans-serif;
$font3: 'Brevia-Black', sans-serif;
$fontsMenu: lobster;
// Séparation
p,
li {
    font-family: $font2;
    // color: $couleur_texte1;
}

p,
h1,
h3,
li {
    color: $couleur_texte1
}

h2 {
    font-family: $font2;
    color: $couleur_texte3;
}

h1 {
    font-family: $font1;
}

// Polices customs (https://transfonter.org/)
@font-face {
    font-family: 'Brevia-Black';
    src: url('fonts/Brevia-Black.woff2') format('woff2'), url('fonts/Brevia-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neonblitz';
    src: url('fonts/Neonblitz.woff2') format('woff2'), url('fonts/Neonblitz.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brevia';
    src: url('fonts/Brevia-Regular.woff2') format('woff2'), url('fonts/Brevia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}