.avenir {
    padding-left: 30px;
    padding-right: 30px;
    figcaption {
        color: $couleur_texte1;
        font-family: $font2;
    }
    .wp-block-image {
        transition: .4s;
        overflow: hidden;
        box-shadow: $couleur_texte2 1px -1px 10px;
        figcaption {
            padding-bottom: 30px !important;
            color: $couleur_texte3 !important;
            font-size: 1.5rem !important;
            background: rgba(0, 0, 0, 0.801) !important;
            padding-top: 30px !important;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.801), 0 0 0.8rem rgba(0, 0, 0, 0.801), 0 0 2.8rem rgba(0, 0, 0, 0.801), inset 0 0 1.3rem rgba(0, 0, 0, 0.801);
        }
        img {
            transition: .4s;
        }
        &:hover {
            // border: 5px solid $couleur_fond2;
            box-shadow: $couleur_fond2 1px -1px 10px;
            img {
                transform: scale(1.1);
                opacity: .7;
            }
        }
    }
}

._page {
    display: flex;
    flex-direction: column;
    h1 {
        // margin: 0 auto;
        text-align: center;
    }
    @media screen and (min-width: $largeur__media-desktop) {
        min-height: 115vh !important;
    }
}

@media screen and (max-width: 700px) {
    ._page {
        align-content: center;
    }
    .avenir {
        display: flex !important;
        align-content: center !important;
        width: 100%;
        figure {
            width: 80% !important;
            margin-bottom: 20px !important;
            a {
                display: flex !important;
                width: 100% !important;
            }
        }
    }
}