.avenir {
    padding-left: 30px;
    padding-right: 30px;
    figcaption {
        color: $couleur_texte1;
        font-family: $font2;
    }
    .wp-block-image {
        transition: .4s;
        overflow: hidden;
        box-shadow: $couleur_texte2 1px -1px 10px;
        figcaption {
            padding-bottom: 30px !important;
            color: $couleur_texte3 !important;
            font-size: 1.5rem !important;
            text-decoration: underline;
        }
        img {
            transition: .4s;
        }
        &:hover {
            // border: 5px solid $couleur_fond2;
            box-shadow: $couleur_fond2 1px -1px 10px;
            img {
                transform: scale(1.1);
                opacity: .7;
            }
        }
    }
}

._page {
    display: flex;
    flex-direction: column;
    h1 {
        // margin: 0 auto;
        text-align: center;
    }
    @media screen and (min-width: $largeur__media-desktop) {
        min-height: 115vh !important;
    }
}