    .listeCours {
        // background-color: white;
        // padding: 0 1vw 0 1vw;
        width: clamp(300px, 100%, 750px);
        margin: 0 auto;
        &__titre {
            // margin: 0 auto;
        }
    }
    
    .cours {
        overflow: hidden;
        margin: 0 auto;
        border-bottom: 3px solid red;
        &:last-child {
            border-bottom: none;
        }
        position: relative;
        &__btn {
            // border: 1px solid red;
            // border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 20px;
            background-image: url(https://s2.svgbox.net/octicons.svg?ic=chevron-down-bold);
            background-repeat: no-repeat;
            background-position: center;
            transform: scale(2.5);
            width: 12px;
            height: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &__infos {
            height: 0;
            .cours {
                &__desc {
                    text-align: justify;
                }
            }
        }
    }
    
    input {
        display: none;
        &:checked {
            display: none;
            ~label>.cours__btn {
                // background-image: url(https://s2.svgbox.net/octicons.svg?ic=chevron-up-bold);
                transform: rotate(180deg) scale(2.5);
            }
            ~.cours {
                &__infos {
                    height: unset;
                }
            }
        }
    }