    .listeCours {
        // background-color: white;
        // padding: 0 1vw 0 1vw;
        width: clamp(300px, 100%, 750px);
        margin: 0 auto;
        &__titre {
            text-align: center;
        }
    }
    
    .cours {
        a:visited {
            color: $couleur_texte1;
        }
        overflow: hidden;
        margin: 0 auto;
        border-bottom: 1px dotted white;
        &:last-child {
            border-bottom: none;
        }
        position: relative;
        &__btn {
            // border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 20px;
            -webkit-mask-image: url(https://s2.svgbox.net/octicons.svg?ic=chevron-down-bold);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $couleur_texte1;
            transform: scale(1.5);
            width: 13px;
            height: 12px;
            transition: .4s cubic-bezier(.5, 0, .5, 1.7);
            &:hover {
                cursor: pointer;
                background-color: $couleur_texte2;
            }
        }
        &__infos {
            height: 0;
            transition: .4s cubic-bezier(.5, 0, .5, 1.7);
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            .cours {
                &__desc {
                    text-align: justify;
                }
            }
        }
        &__img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__desc {
            width: 50%;
        }
        &__titre {
            a {
                color: $couleur_texte1;
                &:hover {
                    color: $couleur_texte2 !important;
                    cursor: pointer;
                }
            }
        }
    }
    
    input {
        display: none;
        &:checked {
            display: none;
            ~label>.cours__btn {
                // background-image: url(https://s2.svgbox.net/octicons.svg?ic=chevron-up-bold);
                transform: rotate(-180deg) scale(1.5);
            }
            ~.cours {
                &__infos {
                    height: 127px;
                    // align-items: center;
                }
            }
        }
    }