.listeCours {
    width: clamp(300px, 100%, 750px);
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    &__titre {
        text-align: center;
    }
    h3 {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        font-size: 1.5rem;
    }
    @media screen and (min-width: 1000px) {
        width: 80%;
    }
}

.cours {
    a:visited {
        color: $couleur_texte1;
    }
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px dotted white;
    &:last-child {
        border-bottom: none;
    }
    position: relative;
    &__btn {
        div {
            transition: .4s cubic-bezier(.5, 0, .5, 1.7);
            background-color: white;
            -webkit-mask-image: url(https://s2.svgbox.net/octicons.svg?ic=chevron-down-bold);
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 15px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleur_fond2 !important;
        @include effetNeon();
        border: 2px solid $couleur_texte1;
        box-shadow: none;
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: $couleur_texte1;
        transform: scale(1.5);
        width: 24px;
        height: 24px;
        transition: .4s cubic-bezier(.5, 0, .5, 1.7);
        &:hover {
            cursor: pointer;
            div {
                background-color: $couleur_texte2;
            }
        }
    }
    &__infos {
        &__haut {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        font-family: $font2;
        height: 0;
        transition: .4s cubic-bezier(.5, 0, .5, 1.7);
        justify-content: space-around;
        display: flex;
        overflow: hidden;
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &__img {
        width: auto;
        height: 130px;
        overflow: hidden;
        @include effetNeon();
        img {
            width: auto;
            height: 100%;
        }
    }
    &__desc {
        text-align: justify;
        font-size: 14px;
        &::first-letter {
            // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $couleur_fond2, 0 0 82px $couleur_fond2, 0 0 92px $couleur_fond2, 0 0 102px $couleur_fond2, 0 0 151px $couleur_fond2;
        }
        width: 50%;
    }
    &__titre {
        max-width: 90%;
        a {
            font-family: $font2;
            color: $couleur_texte1;
            transition: .2s;
            margin-right: 1.5em;
            display: flex;
            flex-wrap: wrap;
            &:hover {
                color: $couleur_texte2 !important;
                cursor: pointer;
            }
        }
    }
    &__solo__img {
        overflow: hidden;
        @include effetNeon();
        width: fit-content;
        height: 230px;
        margin: 0 auto !important;
        img {
            // width: auto;
            height: 230px;
        }
    }
}

input {
    display: none;
    &:checked {
        display: none;
        ~label>.cours__btn {
            transform: rotate(-180deg) scale(1.5);
            div {
                background-color: $couleur_texte2;
            }
        }
        ~.cours {
            &__infos {
                height: 280px;
                // height: 360px;
                // align-items: center;
            }
            &__logiciel {
                position: absolute;
            }
        }
    }
}

.site__main__cours {
    background-color: $couleur_fond;
    height: 100vh;
    overflow: hidden;
    div {
        font-family: $font2;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    p {
        font-size: 14px;
    }
}