.emplois{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100%;
    .imgEmplois{
        width: 40%;

        img{
            width: 90%;
        }
    }
    .descEmplois{
        width: 45%;
    }
    .listeEmplois{
        list-style-position: inside;
        padding-left: 0;

        li{
            margin-top: 20px;
        }
    }
}
