.intro {
    text-align: justify;
    @media screen and (min-width: $largeur__media-desktop) {
        width: 80%;
        margin: 0 auto;
    }
}

figure {
    @include effetNeon();
    border-radius: 2rem;

    img {
        border-radius: 2rem;
    }
}