.intro {
    text-align: justify;
    @media screen and (min-width: $largeur__media-desktop) {
        width: 80%;
        margin: 0 auto;
    }
}

figure {
    @include effetNeon();
    border-radius: 2rem;

    img {
        border-radius: 2rem;
    }
}

.videoPrez {
    position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
 }