.intro {
    text-align: justify;
    @media screen and (min-width: $largeur__media-desktop) {
        width: 80%;
        margin: 0 auto;
    }
}

img.wp-image-594{
    overflow: hidden;
    width: clamp(250px, 30%, 350px);
    @include effetNeon();
    border-radius: 2rem;

    img {
        border-radius: 2rem;
    }
}

img.wp-image-596{
    overflow: hidden;
    width: clamp(250px, 30%, 350px);
    @include effetNeon();
    border-radius: 2rem;

    img {
        border-radius: 2rem;
    }
}
img.wp-image-597{
    overflow: hidden;
    width: clamp(250px, 30%, 350px);
    @include effetNeon();
    border-radius: 2rem;

    img {
        border-radius: 2rem;
    }
}

.videoPrez {
    position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
 }