.menu {
    list-style: none;
    a {
        width: 100%;
    }
    margin: 0;
    margin: 0;
    &-principal {
        &-container {
            a {
                color: $couleur_texte1;
                padding: 4px;
                &:active {
                    // color: gray;
                }
                &:visited {
                    color: $couleur_texte1;
                }
            }
            li {
                width: 100%;
                background-color: $couleur_fond2;
                // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                &:after {
                    // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                }
                &:hover {
                    a {
                        color: $couleur_texte2;
                    }
                }
            }
            .current-menu-item a {
                color: $couleur_texte2 !important;
            }
        }
    }
}

.triSession {
    display: flex;
    justify-content: space-around;
    width: max-content;
    margin: 0 auto;
    // background-color: blue;
    a {
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-weight: 900;
        // margin: 0;
        padding: 10px;
        &:hover {
            background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
        }
    }
    .active {
        color: $couleur_texte2;
    }
}