.menu {
    list-style: none;
    font-family: lobster;
    &-principal {
        &-container {
            a {
                margin-left: 20px;
                color: $couleur_texte1;
                padding: 4px;
                transition-duration: .4s;
                &:active {
                    // color: gray;
                }
                &:visited {
                    color: $couleur_texte1;
                }
            }
            li {
                margin-bottom: 10px;
                // border-bottom: 3px solid transparent;
                // background-color: $couleur_fond2;
                // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                &:after {
                    // border-bottom: solid 3px #73cca8;
                    // transform: scaleX(0);
                    // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                }
                &:hover {
                    &::after {
                        // transform: scaleX(1);
                    }
                    a {
                        // color: $couleur_texte2;
                        text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
                    }
                }
            }
            .current-menu-item a {
                color: $couleur_texte2 !important;
            }
        }
    }
}

.triSession {
    display: flex;
    justify-content: space-around;
    width: max-content;
    margin: 0 auto;
    a {
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-weight: 900;
        // margin: 0;
        padding: 10px;
        &:hover {
            background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
        }
    }
    .active {
        color: $couleur_texte2;
    }
}

.colone {
    clip-path: polygon(13% 0, 87% 0, 100% 100%, 0 100%);
    background-color: $couleur_fond3;
    height: 10px;
    z-index: 1;
    box-shadow: 10px 10px 10px $couleur_fond3;
}