.menu {
    &-principal {
        &-container {
            a {
                // color: hotpink;
                &:hover {
                    // color: aqua;
                }
                &:active {
                    // color: gray;
                }
            }
        }
    }
}

.triSession {
    display: flex;
    justify-content: space-around;
    width: max-content;
    margin: 0 auto;
    // background-color: blue;
    a {
        background-color: darkblue;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: #fff;
        // margin: 0;
        padding: 10px;
        &:hover {
            background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
        }
    }
    .active {
        // background-color: gold;
        border-bottom: 3px solid red;
    }
}