.listeProfs {
    // width: clamp(300px, 100%, 750px);
    display: grid;
    grid-template-columns: 1fr;
    &__liste {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }
    &__titre {
        border: 3px solid $couleur_texte3;
        text-align: center;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        max-width: 50%;
    }
}

.prof {
    border: 3px solid red;
    width: clamp(250px, 30%, 350px);
    margin: 10px;
    &__titre {
        border-bottom: 2px solid red;
    }
    &__texte {
        padding: 10px;
    }
    &__img {
        // width: 100px;
        // height: 100px;
        // max-height: 190px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.unProf {
    &__img {
        overflow: hidden;
        height: 300px;
        // width: auto;
        img {
            // width: 100%;
            // height: 100%;
        }
    }
}