.listeProjets {
    width: 100%;
    position: relative;
    &__liste {
        perspective: 250px;
        transform: scale(3);
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100px;
        height: 100px;
    }
}

.projet {
    transition-duration: .4s;
    border: 3px solid white;
    background-color: $couleur_fond3;
    overflow: hidden;
    width: 90px;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    animation-name: mouvementCarrosel;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &__titre {
        border-bottom: 2px solid white;
        font-family: $font2;
    }
    &__img {
        margin: 0 auto;
        width: 90%;
        overflow: hidden;
        img {
            border: 2px dotted $couleur_texte2;
            width: 100%;
            height: 100%;
            transition: .4s;
        }
        &:hover {
            box-shadow: $couleur_fond2 1px -1px 10px;
            img {
                transform: scale(1.1);
                opacity: .7;
            }
        }
    }
}

$deplacement:60px;
@keyframes mouvementCarrosel {
    from {
        transform: rotateY(360deg) translateZ($deplacement) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }
    50% {
        z-index: -10;
    }
    to {
        transform: rotateY(0deg) translateZ($deplacement) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

#chk-projets {
    &:checked~ {
        .listeProjets {
            &__liste {
                @media screen and (min-width: 1120px) {
                    // top: 8%;
                }
                // overflow: hidden;
                margin: 0 auto;
                transform: scale(1);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                // UNSET
                // perspective: unset;
                position: unset;
                // top: unset;
                left: unset;
                width: 70%;
                // height: unset;
                .projet {
                    width: clamp(250px, 30%, 350px);
                    margin: 10px;
                    font-size: 2em;
                    // Unset
                    height: unset;
                    // max-height: 330px;
                    position: unset;
                    animation-name: unset;
                    animation-iteration-count: unset;
                    animation-timing-function: unset;
                }
            }
        }
        .btn-projets {
            div {
                background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
            }
        }
    }
}

.btn-projets {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    div {
        width: clamp(100px, 30%, 200px);
        text-align: center;
        margin: 0 auto;
        // --------
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-family: $fontsMenu !important;
        font-weight: 900;
        padding: 10px;
        margin-top: 10px;
        &:hover {
            color: $couleur_texte2;
        }
    }
}


/*._projets {
    @media screen and (min-width: 1670px) {
        height: 170vh !important;
        .listeProjets__liste {
            top: 8% !important;
        }
        // display: none;
    }
    @media screen and (min-width: 1120px) {
        height: 300vh !important;
    }
}*/