.listeProfs {
    // width: clamp(300px, 100%, 750px);
    display: grid;
    grid-template-columns: 1fr;
    &__liste {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }
}

.prof {
    border: 3px solid red;
    width: clamp(250px, 30%, 350px);
    &__titre {
        border-bottom: 2px solid red;
    }
    &__texte {
        padding: 10px;
    }
    &__img {
        // width: 100px;
        // height: 100px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}