.listeProfs {
    width: 100%;
    margin-top: 5vh;
    &__liste {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }
    &__titre {
        // border: 3px solid $couleur_texte3;
        text-align: center;
        // clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        max-width: 50%;
        margin: 1em auto;
        max-height: 3.5vh;
    }
}

.prof {
    overflow: hidden;
    @include effetNeon();
    transition-duration: .4s;
    width: clamp(250px, 30%, 350px);
    margin: 10px;
    &__titre {
        border-bottom: 2px solid $couleur_fond2;
        font-family: $font2;
        cursor: pointer;
        &:hover {
            color: $couleur_texte2;
        }
    }
    &__texte {
        padding: 10px;
    }
    &__img {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}

.unProf {
    margin: 0 auto;
    &__titre {
        height: 30px;
        text-align: center;
    }
    img {
        @include effetNeon();
        width: 100%;
        margin: 10px;
        transition: .4s;
        margin: 0 auto;
        &:hover {
            border: 3px solid $couleur_fond2;
        }
    }
    &__infos {
        display: flex;
        flex-wrap: wrap;
        width: clamp(300px, 100%, 800px);
        margin: 0 auto;
    }
    &__desc {
        display: flex;
        flex-direction: column;
        font-family: $font2;
        text-align: justify;
        margin: 0 auto;
        padding: 10px;
        color: $couleur_texte3;
    }
    &__anecdote {
        margin-left: 50%;
    }
    &__anciennete {
        color: hsl(323, 100%, 82%);
        font-size: 1rem;
        font-style: italic;
    }
    &__expertise {
        color: hsl(323, 100%, 82%);
        font-size: 1rem;
        font-style: italic;
    }
    &__outil {
        color: hsl(323, 100%, 82%);
        font-size: 1rem;
        font-style: italic;
    }
    &__passion {
        color: hsl(323, 100%, 82%);
        font-size: 1rem;
        font-style: italic;
    }

}