.listeProjets {
    width: 100%;
    position: relative;
    .listeProfs__liste {
        perspective: 250px;
        position: absolute;
        top: 30%;
        left: 50%;
        .prof {
            position: absolute;
            text-align: center;
            animation-name: mouvementCarrosel;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            background-image: linear-gradient($couleur_fond, $couleur_fond2);
        }
    }
}

$deplacement:120px;
@keyframes mouvementCarrosel {
    from {
        transform: rotateY(360deg) translateZ($deplacement) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }
    50% {
        z-index: -10;
    }
    to {
        transform: rotateY(0deg) translateZ($deplacement) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

#chk-projets {
    &:checked~ {
        .btn-projets {
            div {
                background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
            }
        }
    }
}

.btn-projets {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    div {
        width: clamp(100px, 30%, 200px);
        text-align: center;
        margin: 0 auto;
        // --------
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-family: $fontsMenu !important;
        font-weight: 900;
        padding: 10px;
        margin-top: 10px;
        &:hover {
            color: $couleur_texte2;
        }
    }
}