.stages{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100%;
    a{
        color: white;
    

        &:hover{
           color:  $color__link-hover;
        }
    }
    p{
        width: 100%;
    }
    
    .imgStages{
        width: 40%;

        img{
            width: 90%;
        }
      
        
    }
    .txtStages{
        width: 45%;
    }
    .descStages{
        width:100%;

    }
    .listeStage{
        list-style-position: inside;
        padding-left: 0;
        li{
            margin-top: 20px;
            
        }
    }



}
@media screen and (max-width: 700px) {

    .stages{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgStages{
            width: 80%;
            height: 300px;
    
            img{
                width: 100%;
                height: 300px;
            }
        }
        .txtStages{
            width: 80%;
        }
        li{
        &::marker{
            color: $couleur_texte3 !important;
            font-size: 1.5rem
            
        }
        }
    }

}