.universite{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    a{
        
    }
    p{
        width: 100%;
    }
    .imgUniversite{
        width: 40%;

        img{
            width: 90%;
        }
    }
    .descUniversite{
        width: 45%;
    }
    .listeUni{
        list-style:decimal;
        list-style-position:outside;
        padding-left: 0;
        font-family: "Brevia", sans-serif;
        padding-left: 28px;
        
        li{
            margin-top: 20px;
            &::marker{
                color: $couleur_texte3 !important;
                font-size: 1.5rem
                
                
            }
        }
    }
}
    @media screen and (max-width: 700px) {
    .universite{
    flex-direction: column;
    align-items: center;
    p{
        width: 100%;
    }
    .imgUniversite{
        width: 80%;
        height: 300px;

        img{
            width: 100%;
            height: 300px;
        }
    }
    .descUniversite{
        width: 80%;
        padding-right: none;
    }
    .listeUni{
        list-style:decimal;
        list-style-position:outside;
        
        padding-right: 0;
        padding-left: 28px;
        width: 100%;
      
        li{
            margin-top: 20px;
            &::marker{
                color: $couleur_texte3 !important;
                font-size: 1.5rem
                
                
            }
        }
    }

}
    }



