
/*

<section class="site__barre">
    <!-- <input type="checkbox" id="chk-burger">
    <div class="burgerMenuParent">
        <label for="chk-burger" id="burger">
            <div class="ligne"></div>
            <div class="ligne"></div>
            <div class="ligne"></div>
        </label>
    </div> -->

    <?php
    // $icone= '<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>';
    ?>
</section>
*/

#chk-burger {
    display: none;
}
#chk-burger:checked ~ .burgerMenuParent {
   transform:rotate(90deg);
   
}

#chk-burger:checked ~ .menu-principal-container {
  transform : translateX(0);
}


.menu-principal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    background-color: #080923;
    @media screen and (min-width: 900px) {
       position: static;
       transform: translateX(0);
       width: 100%;
       background-color: transparent;
    }

}

.burgerMenuParent {
   border : 1px solid #aaa;
   background-color: white;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   transform:rotate(0deg);
   transition: transform 0.5s;
   @media screen and (min-width: 900px) {
    display: none;
     }
}

.ligne {
    width:100%;
    height: 33%;
    border: 1px solid black;
    background-color: white;
}

.ligne:nth-of-type(1){
    top: 0;
    background-color: #B44DBB;
}

.ligne:nth-of-type(2){
    top: 35px;
    background-color:  #B44DBB;
}


.ligne:nth-of-type(3){
    top: 85px;
    background-color:  #B44DBB;
}

