.site__header {
    grid-area: header;
    background-color: $couleur_fond;
    // margin-top: -40px;
    &__titre {
        margin: 0 auto;
        @media screen and (min-width: 700px) {
            margin: 0 0 0 50px;
        }
        display: flex;
        flex-direction: row;
        width: 425px;
        height: 150px;
        align-items: center;
        padding: 0;
        h1,
        h6 {
            color: $couleur_texte2;
        }
        &:hover {
            text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
        }
        &:visited {
            color: $couleur_texte2;
        }
    }
}

.header {
    &__principal {
        font-size: clamp(3.5rem, 2.5vw, 4rem);
        padding-right: 30px;
        // @media screen and (max-width: 500px) {
        //     font-size: 4em !important;
        // }
    }
    &__secondaire {
        // margin-top: -25px;
        font-family: 'Neonblitz', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
        display: flex;
        flex-wrap: wrap;
    }
    &__titre {
        color: #1976D2;
        margin-bottom: -10px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        margin-left: 5%;
        font-size: 2rem;
        font-style: oblique;
    }
    &__description {
        display: inline-block;
        width: 95%;
    }
}