.site__header {
    grid-area: header;
    background-color: $couleur_fond;
    // margin-top: -40px;
    &__titre {
        margin: 0 auto;
        @media screen and (min-width: 700px) {
            margin: 0 0 0 50px;
        }
        display: flex;
        flex-direction: row;
        width: 425px;
        height: 150px;
        align-items: center;
        padding: 0;
        h1 {
            // text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
            color: $couleur_texte2;
        }
        &:visited {
            color: $couleur_texte2;
        }
    }
}

.header {
    &__principal {
        font-size: 7em;
        padding-right: 30px;
    }
    &__secondaire {
        // margin-top: -25px;
        font-family: 'Neonblitz', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
        display: flex;
        flex-wrap: wrap;
    }
}