.site__header {
    grid-area: header;
    background-color: $couleur_fond;
    margin-top: -40px;
    &__titre {
        // margin-left: 5%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 200px;
        align-items: center;
        // justify-content: center;
        h1,
        h2 {
            color: $couleur_texte2;
            text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
        }
        &:visited {
            color: $couleur_texte2;
        }
    }
}

.header {
    &__principal {}
    &__secondaire {
        margin-top: -25px;
        font-family: 'Neonblitz', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 9px;
    }
}