.menu {
    background-color: $couleur_fond;
    @media screen and (min-width: 700px) {
        background-color: unset;
    }
    li {
        font-family: $fontsMenu !important;
    }
    list-style: none;
    font-family: $fontsMenu;
    &-item {
        // Ligne en dessous du texte
        &__ligne {
            clip-path: polygon(13% 0, 87% 0, 100% 100%, 0 100%);
            background-color: $couleur_fond2;
            height: 5px;
            z-index: 1;
            box-shadow: 10px 10px 10px $couleur_fond2;
            margin-top: 5px;
            width: 100%;
        }
    }
    &-principal {
        &-container {
            @media screen and (max-width: 700px) {
                position: fixed;
                top: 20vh;
            }
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            transform: translateX(-100vw);
            transition: .5s cubic-bezier(.5, 0, .5, 1.7);
            @media screen and (min-width: 700px) {
                position: static;
                transform: translateX(0);
                width: 100%;
            }
            a {
                font-size: 50px;
                @media screen and (min-width: 700px) {
                    font-size: clamp(1rem, 12vw, 2.5rem);
                }
                margin-left: 20px;
                color: $couleur_texte1;
                padding: 4px;
                text-shadow: 0px 2px 0px grey;
                transition-duration: .4s;
                &:active {
                    // color: gray;
                }
                &:visited {
                    color: $couleur_texte1;
                }
            }
            li {
                margin-bottom: 10px;
                // border-bottom: 3px solid transparent;
                // background-color: $couleur_fond2;
                // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                &:after {
                    // border-bottom: solid 3px #73cca8;
                    // transform: scaleX(0);
                    // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                }
                &:hover {
                    &::after {
                        // transform: scaleX(1);
                    }
                    a {
                        // color: $couleur_texte2;
                        text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
                    }
                }
            }
            .current-menu-item a {
                color: $couleur_texte2 !important;
            }
        }
    }
}

.triSession {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    a {
        $taille: 100%;
        width: $taille/7;
        text-align: center;
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-family: $fontsMenu;
        font-weight: 900;
        padding: 10px;
        &:hover {
            background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
        }
    }
    .active {
        color: $couleur_texte2;
    }
}

.boiteTransparent {
    background-color: $couleur_fond2_transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: scale(0);
    @media screen and (min-width: 700px) {
        display: none;
    }
}

.ouvrir {
    transform: scale(1) !important;
}

.bloquer {
    overflow-y: hidden;
}

.searchform {
    color: white;
}