.menu {
    background-color: $couleur_fond;
    @media screen and (min-width: 700px) {
        background-color: unset;
    }
    li {
        font-family: $fontsMenu !important;
    }
    list-style: none;
    font-family: $fontsMenu;
    &-item {
        // Ligne en dessous du texte
        &__ligne {
            clip-path: polygon(13% 0, 87% 0, 100% 100%, 0 100%);
            background-color: $couleur_fond2;
            height: 5px;
            z-index: 1;
            box-shadow: 10px 10px 10px $couleur_fond2;
            margin-top: 5px;
            width: 100%;
        }
    }
    &-principal {
        &-container {
            @media screen and (max-width: 700px) {
                position: fixed;
                top: 21.5vh;
            }
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            transform: translateX(-100vw);
            transition: .5s cubic-bezier(.5, 0, .5, 1.7);
            @media screen and (min-width: 700px) {
                position: static;
                transform: translateX(0);
                width: 70%;
            }
            a {
                font-size: 1.2rem;
                font-size: clamp(1.2rem, 0.815rem + 1.925vw, 3.125rem);
                margin-left: 20px;
                color: $couleur_texte1;
                padding: 4px;
                text-shadow: 0px 2px 0px grey;
                transition-duration: .4s;
                &:visited {
                    color: $couleur_texte1;
                }
            }
            li {
                margin-bottom: 10px;
                &:hover {
                    a {
                        text-shadow: 0 0 0.3em rgb(249, 245, 245), 0 0 0.3em rgb(255, 255, 255);
                    }
                }
            }
            .current-menu-item a {
                color: $couleur_texte2 !important;
            }
        }
    }
}

.triSession {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    a {
        $taille: 100%;
        width: $taille/7;
        background-color: $couleur_fond2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: $couleur_texte1;
        font-family: $fontsMenu;
        font-weight: 900;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: linear-gradient(to top, #f969a2 0, #ff0a64 20%, #ff0a64 49%, #f969a2 50%, #ff0a64);
        }
    }
    .active {
        color: $couleur_texte2;
    }
}

.boiteTransparent {
    background-color: $couleur_fond2_transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: scale(0);
    @media screen and (min-width: 700px) {
        display: none;
    }
}

.ouvrir {
    transform: scale(1) !important;
}

.bloquer {
    @media screen and (max-width: 700px) {
        overflow-y: hidden;
    }
}