/*.menu {
    list-style: none;
}*/

.burgerMenuParent {
    @media screen and (min-width: $largeur__media--tablette) {
        width: 0;
        height: 0;
        padding: 0;
    }
    top: 1.5vh;
    left: 1vw;
    position: fixed;
    z-index: 10;
    // -
    background-color: $couleur1;
    padding: 10px;
    border-radius: 5px;
    // width: 50px;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    #burger {
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: .4s cubic-bezier(.5, 0, .5, 1.7);
        svg {
            color: black;
        }
        flex-flow: column wrap;
        justify-content: space-between;
        width: 45px;
        height: 25px;
        overflow: hidden;
        position: relative;
        .ligne {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // width: 44px;
            // height: 4px;
            // border-radius: 2px;
            background-color: $couleur3;
            transition: 0.4s;
            &:nth-child(1) {
                // transform-origin: bottom left;
                clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
                // clip-path: ellipse(100% 20% at 50% 10%);
            }
            &:nth-child(2) {
                // transform-origin: center;
                clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
            }
            &:nth-child(3) {
                // transform-origin: top left;
                clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
            }
        }
    }
}

#chk-burger {
    display: none;
    &:checked~.burgerMenuParent {
        top: 1vh;
        #burger {
            border-radius: 10%;
            overflow: hidden;
            // height: 36px;
            // width: 36px;
            .ligne {
                background-color: $couleur2;
                &:first-child {
                    // transform: rotate(45deg);
                    clip-path: polygon(7.1% -7.1%, 107.1% 92.9%, 92.9% 107.1%, -7.1% 7.1%);
                }
                &:nth-child(2) {
                    // width: 0px;
                    clip-path: polygon(35% 50%, 50% 35%, 65% 50%, 50% 65%);
                    opacity: 0;
                }
                &:last-child {
                    // transform: rotate(-45deg);
                    clip-path: polygon(-7.1% 92.9%, 92.9% -7.1%, 107.1% 7.1%, 7.1% 107.1%);
                }
            }
        }
    }
}