@mixin effetNeon() {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $couleur_fond2, 0 0 0.8rem $couleur_fond2, 0 0 2.8rem $couleur_fond2, inset 0 0 1.3rem $couleur_fond2;
}